*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: flex;
    margin: 0 -15px;
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
.col-3{
    max-width: 25%;
    flex: 0 0 25%;
}
.col-4{
    max-width: 33.33%;
    flex: 0 0 33.33%;
}
.col-6{
    max-width: 50%;
    flex: 0 0 50%;
}
.col-8 {
    max-width: 66.67%;
    flex: 0 0 66.67%;
}
.col-9{
    max-width: 75%;
    flex: 0 0 75%;
}
.col-12 {
    max-width: 100%;
    flex: 0 0 100%;
   
}
.header{
    display: flex;
    height: 100px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    margin-bottom: 30px;
}
.menu{
    display: flex;
}
.menu li{
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu a{
    display: block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
    font-size: 21px;
}
.menu a:hover{
    background-color: #2c71b8;
    color: white;
}
.m-search {
    display: flex;
    gap: 30px;
}
.search, .cart {
    display: flex;
    align-items: center;
}
.search{
    position: relative;
}
.search::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    background-image: url(images/search_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
    position: absolute;
    right: 5px;
}

.cart{
    flex: 1 1 10px;
    position: relative;

}

.search input {
    width: 200px;
    display: flex;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    padding-left: 20px;
    border: 1px solid #2c71b8;
    color: #2c71b8;
    background-image: url(images/search_icon.png);
    background-position: right 5% center;
    background-repeat: no-repeat;
    background-size: 10%;  
}
.b-cart {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    background-image: url(images/icon_cart_blue.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.cart output {
    position: absolute;
    top: -15%;
    left: -25%;
    display: block;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #2c71b8;
}
.products {
    position: relative;
}
.products:hover > a:after{
    content: url(images/icon_arrow_down_white.svg);
    display: block;
    width: 25px;
    position: absolute;
    top: 7px;
    right: 2px;
}
.m-products {
    background-color: #2c71b8;
    display: none;
    position: absolute;
    width: calc(200% + 3px) ;
    left: -1px;
    z-index: 10;
    
}
.products:hover .m-products{
    display: block;
}
.m-products li{
    width: 100%;
  
}
.m-products a{
    color: #ffffff;
    text-align: left;
    height: 40px;
    padding-left: 25px;

}

.m-products a:hover {
    background-color: #ffffff;
    color: #2c71b8;
}
.main {
    flex-grow: 1;
}
.name-category{
    font-size: 48px;
    font-weight: 700;
    color: white;
    /* padding-top: 30px; */
}
.sort {
    font-size: 21px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 300;
    background-color: #2c71b8;
    border: 1px #ffffff solid;  
    height: 40px;
    padding-left: 15px;
    position: relative;
}
.sort::after {
    content: url(images/icon_arrow_down_white.svg);
    display: block;
    width: 25px;
    position: absolute;
    top: 7px;
    right: 2px;
}
.sort-list {
    display: none;
    border: 1px #ffffff solid;
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    z-index: 10;
}
.sort:hover .sort-list {
    display: block;
}
.sort-list li {
    line-height: 40px;
    background-color: #2c71b8;
    border-bottom: 1px #ffffff solid;  
    height: 40px;
}
.sort-list li:last-child {
    border: none;
}

.sort-list a {
    display: block;
    font-size: 21px;
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
    padding-left: 15px; 

}
.sort-list a:hover{
    background-color: #ffffff;
    color: #2c71b8;
}
.product {
    margin-top: 30px;
    color: #ffffff;
    font-size: 21px;
    background-color: rgba(44,113,184,0.749);
    border: 1px solid #ffffff;  
    padding: 0 15px 30px;
}
.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    background-color: rgba(255,255,255,0.749);
    border-bottom: 1px solid #ffffff;
    position: relative;
    margin: 0 -15px;
}
.zoom, .like {
    width: 30px;
    height: 30px;
    position: absolute;
    border: 1px solid #2c71b8;
    padding: 4px;
    text-align: center;
    line-height: 30px;
    right: 10px;
}
.zoom{
    background-image: url(images/icon_zoom_blue.png);
    background-repeat: no-repeat;
    background-position: center center;
    top: 10px;
}
.zoom:hover {
    background-image: url(images/icon_zoom_white.png);
    background-color: #2c71b8;
    cursor: pointer;
}
.like{
    background-image: url(images/icon_like_blue.png);
    background-repeat: no-repeat;
    background-position: center center;
    top: 50px;
}
.like:hover, .liked {
    background-image: url(images/icon_like_white.png);
    background-color: #2c71b8;  
    cursor: pointer;
}
.product-title {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}
.product-description, .product-features {
    /* font-size: 21px; */
    padding-bottom: 10px;
}
.product-price {
    font-size: 48px;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
}
.product-price sup{
    vertical-align: super;
    font-size: smaller;
}
.bold{
    font-weight: bold;
    text-transform:uppercase;
}
.btn{
    display: block;
    width: 210px;
    height: 50px;
    background-color: #2c71b8;
    border: 1px solid #ffffff;
    font-size: 21px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    margin: 15px auto 0;
}
.btn:hover {
    background-color: #ffffff;
    color: #2c71b8;
}
.btn-add-to-cart{
    background-image: url(images/icon_cart_white.png);
    background-repeat: no-repeat;
    background-position: top 46% right 9%;
    background-color: rgba(255,255,255,0.2);    
}
.btn-add-to-cart:hover {
    background-image: url(images/icon_cart_blue.png)
}
.filter {
    padding: 0 30px 30px;
    color: #ffffff;
    background-color: rgba (255, 255, 255, 0.2);
    border: 1px solid #ffffff;
}
.filter-category {
    padding: 30px 0;   
    display: flex;
    flex-direction: column;
    align-items: baseline; 
}
.filter-category li {
    padding-bottom: 20px;
}
.filter-category li:last-child {
    padding: 0;
}

.filter-checkbox-input{
    display: none;
}
.filter-checkbox-label {
    display: flex;
    align-items: flex-end;

}
.filter-checkbox-label::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff; 
    margin-right: 15px;   
}
.filter-checkbox-input:checked + .filter-checkbox-label::before {
    background-color: #ffffff;
}
.footer {
    display: flex;
    height: 100px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    flex-shrink: 0;
    margin-top: 60px;
}
.footer-content {
    align-items:center;
    justify-content: center;
    color: #2c71b8;
    font-size: 21px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.modal-block {
    width: 300px;
    height: 200px;
    background-color: white;
    padding: 15px;
    margin: 100px auto;
}
.form-field {
    margin: 15px 0;
}
.form-field input {
    width: 100%;
    padding: 5px;
}
.btn-close {
    text-align: right;
    cursor: pointer;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.slick-arrow::before {
    color: red;
}
.slick-dots li.slick-active button::before{
    color: yellow;
}
.slider > div {
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 150px 0;
}